.hero-area{

    position: relative;
    margin-bottom: 8em;
    height: 450px; 
    background-color: #2c2e72;
    z-index: 1;
    background-image: url(../images/saltlick-edit.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    /*overflow: hidden; */
    /*background-attachment: fixed; */

    .container {
      .row {
        position: relative;
        .col {

          position: absolute;
          bottom: -550px;

          img {
            width: 100%;
            height: auto;            
          }

        }
        
      }

    }

}