ul
  li Estimula el apetito de los animales por incrementar la actividad rumiante.
  li Aumenta la carga animal y la ganancia de peso, incrementando así la receptividad de los campos y las producciones animales individuales.
  li Constituye un aporte ideal de Vitaminas y Minerales en dosis pequeñas y frecuentes. No presenta riesgo de intoxicación por urea..
  li Terneros más pesados al destete.
  li Fácil de suministrar, ahorra mano de obra disminuyendo este costo.
  li Su calidad permanece inalterable frente a las contingencias climáticas.
  li Se puede almacenar por 12 meses.
  li Reduce las perdidas de peso en la estación invernal.
  li Practicidad en el manejo.