.bg-light.p-5
	h4.mb-3.text-brand.text-uppercase Te contactamos?
	p.lead Envianos tus datos y nos comunicaremos con vos.
	form
		.form-group
			label Nombre
			input.form-control(type="text", name="")
		.form-group
			label Email
			input.form-control(type="text", name="")
		.form-group
			label Localidad
			input.form-control(type="text", name="")
		.form-group
			label Teléfono
			input.form-control(type="text", name="")
		button.btn.btn-brand(type="submit") Enviar