.container.text-center.py-5
  .row.justify-content-center
    .col-md-8
      h1.display-4.mb-5 Ofrezca a sus clientes un producto excelente
      p.lead Venda a sus clientes nuestro Suplemento alimenticio proteico en bloques para rumiantes. Fácil de manipular. Listo para usar.