nav.navbar.navbar-expand-lg
	.container
		a.navbar-brand
			img(src="images/logo-el-productor.svg", alt="alt", height="100")
		.collapse.navbar-collapse#navbarNav
			.ml-auto
				img(src="images/linea-bovinos.svg", alt="alt", height="40")
