.container
  .row
    .col-md-7
      .text-center
        img.img-fluid(src="images/logo-produblock.svg", alt="alt", width="360")
        img.img-fluid(src="images/packaging.jpg", alt="alt")
      include benefits
    .col-md-5
      include form